<hr>

<h2>Education</h2>

<hr>

<div class="workplace">
  <h4>Stratoplan • 2013 - 2014</h4>
  <p>Management school, 4 courses:</p>
  <ul class="list-disc ml-6">
    <li>Team management</li>
    <li>Career management</li>
    <li>Negotiations</li>
    <li>Project management</li>
  </ul>
</div>

<div class="workplace">
  <h4>Bauman Moscow State Technical University • 2004 - 2011</h4>
  <p>Engineer, aviation gas turbine engines.</p>
</div>

<div class="pagebreak"></div>