<hr>

<h2>Experience</h2>

<hr>

<div class="workplace">
  <h3>Wellbe / Doare, burnout prevention</h3>
  <h4>Chief Technical Officer • September 2021 - June 2022</h4>
  <p>We build a well-being chat system with live mentors and methodology baked with a chatbot. Pivoted into B2B slack bot with assessments covering different areas: culture, life, mental, etc. Built dashboard with reports and grouping by a manager, department, etc.</p>
  <ul class="list-disc ml-6">
    <li>Lead process of gradient migration from unstable zero-code to stable and scaleable code platform.</li>
    <li>Drove fast and smooth pivot process from B2C to B2B solution.</li>
    <li>Provided perfect technical launch with #2 Product Hunt of the day.</>
  </ul>
</div>

<div class="workplace">
  <h3>Almamat, edtech</h3>
  <h4>Chief Technical Officer • August 2019 - May 2021</h4>
  <p>Started as an emergency help to make the launch on time, then joined the team. Participated in presentations during the fundraising process. We created and LMS system with flexible ways of learning. We integrated the sales process with code and analytics.</p>
  <ul class="list-disc ml-6">
    <li>Managed technical launch of MVP on time.</li>
    <li>Guided development of EDTech platform.</li>
    <li>Set up a process of development to quickly deliver changes in the business model.</li>
  </ul>
</div>

<div class="workplace">
  <h3>Ivy Knob, IoT</h3>
  <h4>CEO • May 2018 - Present</h4>
  <p>Founded a company (based in Estonia) focused on introducing modern best practices of dev into IoT and embedded world. Below are a few projects:</p>
  <ul class="list-disc ml-6">
    <li>Cryptoticker - hardware toy, that shows rates online. Backend prototype and processed.</li>
    <li>Inflow - salt-in-water analyzer sports device. Introduced modern processed into embedded dev process.</li>
    <li>Integration of LoRa devices into IoT network.</li>
    <li>Createauto - built a prototype of the frontend of IoT platform.</i>
  </ul>
</div>

<div class="workplace">
  <h3>Domido, innovative construction</h3>
  <h4>Head of dev department • September 2016 - May 2018</h4>
  <p>Started as a consultant to fix software delivery problems, then joined the team. We built a uniq web application with a performant 3d-engine inside. It was able to render 1000000 objects on the scene in the browser with 60fps. Guided creation of CAD and ERP systems.</p>
  <ul class="list-disc ml-6">
    <li>Hired and grew team with great quality and speed of delivery.</li>
    <li>Guided creation of a web-based 3d engine, that was easy to maintain (even for junior 3d developers).</li>
    <li>Curated preparation for ICO.</li>
    <li>Helped with production process including CAM and 3D Printing.</li>
  </ul>
</div>

<div class="workplace">
  <h3>Redde, commercial development</h3>
  <h4>Starter • August 2010 - May 2017</h4>
  <p>Started a small company doing commercial rails development. Here are a few projects:</p>
  <ul class="list-disc ml-6">
    <li>e-xecutive.ru - finished relaunch of the website, launched email platform.</li>
    <li>kotofey.ru - launched an e-commerce store as well as a backend system for communication between 1C ERP branches.</li>
    <li>feron.ru - launched an e-commerce solution from scratch with advanced flows and synchronization with 1C ERP systems.</li>
  </ul>
</div>
