<div class="header flex flex-col items-center">
  <img src="/assets/oleg.jpg" alt="Oleg Bovykin" class="object-cover rounded-full w-32 h-32">
  <h2>Oleg Bovykin</h2>
  <p class="flex flex-col sm:flex-row">
    <a href="tel:+79263767956" target="_blank" class="flex flex-row items-center mx-2">
      <img src="/assets/icons/phone.svg" alt="Phone" class="h-6">
      +7(926)37-67-956
    </a>
    <a href="mailto:oleg.bovykin@gmail.com" target="_blank" class="flex flex-row items-center mx-2">
      <img src="/assets/icons/email.svg" alt="Email" class="h-6">
      oleg.bovykin@gmail.com
    </a>
    <a href="https://t.me/arrowcircle" target="_blank" class="flex flex-row items-center mx-2">
      <img src="/assets/icons/telegram.svg" alt="Telegram" class="h-6">
      @arrowcircle
    </a>
  </h3>
</div>

<hr>

<div class="flex flex-row items-center">
  <h2 class="flex-1">Chief Technical Officer</h2>
  <div class="flex-1 flex flex-row items-center justify-end space-x-2">
    <a href="https://github.com/arrowcircle" target="_blank">
      <img src="/assets/icons/github.svg" alt="Github" class="h-8">
    </a>
    <a href="https://twitter.com/arrowcircle" target="_blank">
      <img src="/assets/icons/twitter.svg" alt="Twitter" class="h-8">
    </a>
    <a href="https://medium.com/@arrowcircle" target="_blank">
      <img src="/assets/icons/medium.svg" alt="Medium" class="h-8">
    </a>
    <a href="https://www.linkedin.com/in/oleg-bovykin-4753448/" target="_blank">
      <img src="/assets/icons/linkedin.svg" alt="Linkedin" class="h-8">
    </a>
  </div>
</div>

<hr>

<h3>Remote | Relocation to Portugal</h3>

<p>
  Startup vibe.
  Love to move quickly in launching new products. Checklists and SCRUM will save the world.
</p>
