---
layout: application.njk
title: Oleg Bovykin
author: Oleg Bovykin
description: "Chief Tech magician."
image: "/assets/opengraph.jpg"
url: "https://cv.ivyknob.com/"
---


{% include "_header.njk" %}

{% include "_experience.njk" %}

{% include "_education.njk" %}

{% include "_skills.njk" %}
